.gradient {
    background-image:
      linear-gradient(
        to right, 
        red, #f06d06
      );}
  
h1{
  font-family: 'Bahianita',cursive;
  font-size:xx-large; 
  align-content: center;
}
  
   
   h3,h2{
    font-family: 'Bahianita', cursive;
    font-size: x-large;
   }
   p,ul,ol{
    font-family: 'Cinzel', serif;
   }
